# Banco de Dados
DATABASE_URL=postgres://postgres:postgres@localhost:5432/nfe

# Auth
JWT_SECRET=change-me-in-production-min-8-chars
JWT_EXPIRES_IN=7d

# App
NODE_ENV=development
PORT=3000
HOST=0.0.0.0
